/* Mengatur tampilan pada device yang berbeda */
@media only screen and (max-width:800px) {
    /* For mobile phones: */
    .menu, .main, .right {
      flex-direction: column;
    }
}    

.main-title{
    text-align: center;
}

.main{
    display: flex;
    justify-content: space-around;
}

.main-content{
    flex: 1;
    padding: 12px;
}

.input-title{
    font-size: large;
    font-weight: bold;
    color: #007BFF;
}

.pilihan{
    font-size: large;
}

.button{
    border-radius: 8px;
    padding: 10px;
    font-size: medium;
}

.submit{
    background-color: #007BFF;
    color: white;
    border: 1px solid #ccc;
}

.reset{
    background-color: white;
    border: 2px solid #ccc;
}

/* Kolom inputan */
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 5px;
  }
  
input[type=number]:focus {
    border: 3px solid #555;
}

.result-section{
    text-align: center;    
    border-radius: 8px;
    background-color: #E9ECEF;
    padding: 12px;
}

.titleJenisKelamin{
    margin: 5px 0;
}
  
input[type="radio"] {
    margin: 8px;
}

form{
    background-color: #E9ECEF;
    padding: 10px;
}

.justify{
    text-align: justify;
    font-size: medium;
    margin: 5px 0;
}

.right-title{
    text-align: center;
    font-size: x-large;
    margin: 5px 0 5px;
    color: #007BFF;
}

.result-button{
    text-align: center;
}

.download-content{
    text-align: center;
    font-size: x-large;
}

#hasil-bmi{
    color: #007BFF;
}

.result-article {
    text-align: center;
}

#penjelasan-bmi{
    text-align: justify;
    padding: 0 50px 0 50px;
}

.header-download{
    margin: 30px 0 10px; 
    font-weight: bold;
    color: #007BFF;
}